# dependencies
/node_modules

# build + test output
/dist
/coverage
*.tsbuildinfo

# firebase deploy cache
/.firebase
firebase-debug.log*

# misc
.DS_Store
.env*.local
npm-debug.log*
.playwright-mcp/
