html, body {
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
}

#root {
  height: 100%;
  width: 100%;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@media print {
  body {
    width: 8.5in;
    height: 11in;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  .MuiPaper-root {
    page-break-after: always; /* Ensure each sheet is on a new page */
    border: none;
    box-shadow: none; /* Remove shadows for printing */
  }
}
